@CHARSET "UTF-8";

body {
    background-image: url(images/allbg.jpg);
    color: #5a2c14;
    background-color: #674d25;
    font-family: 'Noto Sans', Verdana, sans-serif;
    font-size: 80%;
}

a {
    text-decoration: none;
    color: #5a2c14;
}

main {
    display: block;
    position: relative;
}

img {
    border: none;
}

ul {
    /* list-style: outside; */
}

li {
    display: inline;
    /* list-style: none; */
}

h1 {
    clear: both;
    text-align: center;
    font-variant: small-caps;
    font-size: 1.5em;
}

#container h2 a {
    color: #5a2c14;
}

.top p {
    font-size: medium;
    color: black;
}

h2.issue {
    text-align: center;
    font-variant: small-caps;
}

h2.readers {
    text-align: center;
    font-variant: small-caps;
}

h3.readers {
    text-align: center;
}

footer {
    font-size: 1.17em;
    font-weight: bolder;
}

#header {
    background-image: url(images/logo_schrift.gif);
    height: 230px;
    background-repeat: no-repeat;
    background-position: 20px 0px;
}

#header h1 {
    visibility: hidden;
}

#header .number {
    position: absolute;
    left: 90px;
    top: 160px;
}

#header .date {
    position: absolute;
    left: 630px;
    top: 160px;
}

#sidebar {
    position: absolute;
    width: 120px;
    top: 230px;
    left: 740px;
}

#sidebar li a {
    display: block;
}

#sidebar li {
    display: block;
    background-image: url(images/button.gif);
    background-repeat: no-repeat;

    height: 20px;
    margin: 5px;
    padding: 5px 5px 5px 5px;
    width: 230px;
}


#sidebar li.active, #sidebar li:hover {
    background-image: url(images/button_02.gif);
    background-repeat: no-repeat;
    margin-left: -50px;
    width: 295px;
}

#sidebar a.active {
    font-weight: bolder;
}

#sidebar li.active {
    margin-left: -25px;
}

#nav {
    position: absolute;
    top: 198px;
    left: 50px;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    width: 700px;
    margin: 0;
}

#adminnav {
    position: absolute;
    top: 200px;
    left: 150px;
}

#nav li, #adminnav li {
    padding-left: 10px;
    margin: 0;
}

#nav a:hover, #sidebar a:hover {
    font-weight: lighter;
    cursor: help;
}

#nav a:active, #sidebar a:active {
    font-weight: bolder;
}

#nav a.activ {
    text-decoration: none;
    font-weight: bolder;
    cursor: default;
}

#container {
    position: absolute;
    float: left;
    background-image: url(images/footer.gif);
    background-position: bottom;
    background-repeat: no-repeat;
    margin-bottom: -20px;
    padding: 0;
    width: 732px;
    top: 229px;
    left: 26px;
    color: #542004;
    padding-bottom: 0;
}

#container a {
    color: black;
}

#main {
    background-image: url(images/main.gif);
    background-position: 0 0;
    background-repeat: repeat-y;
    margin: 0;
    padding: 5px 20px 5px 20px;
}

#main li {
    display: block;
}

#item, #issue {
    margin-left: 20px;
    margin-right: 20px;
    padding: 0;
}

#footer {
    clear: both;
}

p.page {
    text-align: center;
    padding-top: 17px;
    padding-bottom: 15px;
}

.bottom {

    background-position: center 0px;
    background-repeat: no-repeat;
    background-height: 1px;
    text-align: center;
    width: 700px;
    left: 135px;
    padding-top: 0px;
    bottom: 0px;
    margin-top: 0;
}

p.more {
    display: inline;
    padding-top: 0.5em;
    margin: 0 0 0 550px;
}

.more a:before {
    content: url(images/raus.gif);
    padding-right: 2px;
    text-valign: middle;
}

.write {
    display: inline;
    font-size: small;
    font-style: italic;
    width: 100%;
    margin: 0 20px 0 10px;
    padding-top: 0.5em;
}

div.under {
    background-image: url(images/h2b.gif);
    background-repeat: no-repeat;
    background-position: center bottom;
}

p.preview {
    font-size: medium;
    text-align: justify;
}


p.liste {
    font-size: smaller;
    font-style: italic;
    text-align: right;
    margin-top: 0;
    padding-top: 0px;
}

table, tr, td {
    vertical-align: top;
}

td {
    padding: 0 10px 0px 10px;
}

#new, #new a {
    color: red;
}

#readers {
    font-size: medium;
}

#readers label {
    display: block;
    margin: 0;
    padding-left: 25px;
    vertical-align: text-top;
}

#readers .notice {
    color: black;
    font-size: small;
}

fieldset {
    border: none;
}

.notice, .error {
    color: red;
    font-style: italic;
}

.error {
    font-weight: bolder;
}

.redaktion {
    text-align: center;

}

.redaktion h2 {
    font-size: 1.8em;
}

.redaktion ul {
    font-size: 1.2em;
    padding: 0;


}

.redaktion li {
    width: 250px;
    margin: 0 auto 0 auto;
    font-size: 80%;
    padding: 0;
    padding-bottom: 5px;

}

.redaktion a {
    padding-left: 10px;
}

.redaktion img {
    margin-bottom: -7px;
}
