@CHARSET "UTF-8";
body {
    background-image: url(images/allbg.jpg);
    color: #5a2c14;
    background-color: #8B4513;
    font-family: 'Noto Sans', Verdana, sans-serif;
    font-size: 90%;
}

a {
    text-decoration: none;
    color: #5a2c14;
}

ul {
    list-style: outside;
}

li {
    display: inline;
    list-style: none;
}

#wrap {
    position: absolute;
    left: 10%;
    width: 80%;
}

#header, ul {
    padding: 20px 5px 3px 5px;
    margin: 0;
}


#item_nav li, #readers_nav li, #contact_nav li {
    margin: 0;
    padding: 5px 5px 6px 2px;
    background-image: url(images/active_3.jpg);
}


#nav li.active {
    background-image: url(images/active_1.jpg);
}

#admin_nav li.active {
    background-image: url(images/active_3.jpg);
}

#item_nav li.active, #readers_nav li.active, #contact_nav li.active {
    background-image: url(images/bg.jpg);
}

#nav li {
    margin: 0;
    padding: 5px 5px 20px 5px;
    background-image: url(images/active_2.jpg);
}

#admin_nav li {
    margin: 0;
    padding: 5px 5px 20px 5px;
    background-image: url(images/active_1.jpg);
}

#main {
    margin: 0;
    padding: 10px;
    background-image: url(images/bg.jpg);
}

tr.gerade {
    background-color: gray;
}

label {
    display: block;
    padding-top: 0.5em;
}

.notice {
    width: 250px;
    text-align: right;
}


input.item {
    margin-left: 50px;
}

select.item {
    margin-left: 18px;
}

input.readonly {
    color: #5a2c14;
    background: none;
    border: none;
    font-size: 102%;
}

img {
    border: 0 none;
}

.author div {
    padding-right: 5px;
    float: left;
}

.author label, .author input {
    text-align: right;
}
