<?php

if ($item['status']=='ARCHIV')
{
	$wildcard='mod=archiv';
	$archiv="<a href='?mod=archiv'>".$language['Archiv']."</a> &gt;&gt; ";}else{    $wildcard='mod=issue';}$item['text'] = preg_replace('/\.\.\/images\/items\//i', $config['home_path'].'images/items/', $item['text']);$ausgabe.="\n
<h2>".$item['title']."</h2>\n";if ($item['user'][0]['username']!=NULL){$author=NULL;$drawer=NULL;

foreach($item['user'] as $user){

if($user['kind']=='author'){if($author!=NULL){$author.=", ";}$author.=$user['username']."(".$user['haus'].")";}if($user['kind']=='drawer'){if($drawer!=NULL){$drawer.=", ";}$drawer.=$user['username']."(".$user['haus'].")";}}if ($drawer!=NULL){$drawer="
<h3>".$language['imagesfrom'].$drawer."</h3>\n";}$ausgabe.="<h3>
    ".$language['wrotefrom'].$author."</h3>\n".$drawer;}$ausgabe.=$edit;$ausgabe.="
<p class='path'>".$archiv."
    <a href='?".$wildcard."&issue=".$item[' id_issue
    ']."'>"; $ausgabe.=$language['issueno'].$item['issue_number']."</a> &gt;&gt; "; $ausgabe.="
    <a href='?".$wildcard."&issue=".$item[' id_issue
    ']."&category=".$item['category']."'>".$item['category_name']."</a> &gt;&gt;
</p>";


if($item['summary']!=NULL){$ausgabe.="<p class='preview'>".$item['summary']; } $ausgabe.="<p class='text'>
    ".$item['text'];

    $ausgabe.="</p>
<p class='readers'>
    <a href='?mod=readers&item=".$item[' id_number
    ']."&readers'>".$language['readers']."</a>\n"; ?>
